@tailwind base;

@font-face {
    font-family: 'Baloo 2 Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Baloo 2 Regular'), url('./dist/assets/fonts/Baloo2-Regular.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Baloo 2 Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Baloo 2 Medium'), url('./dist/assets/fonts/Baloo2-Medium.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Baloo 2 SemiBold';
    font-style: normal;
    font-weight: normal;
    src: local('Baloo 2 SemiBold'), url('./dist/assets/fonts/Baloo2-SemiBold.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Baloo 2 Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Baloo 2 Bold'), url('./dist/assets/fonts/Baloo2-Bold.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Baloo 2 ExtraBold';
    font-style: normal;
    font-weight: normal;
    src: local('Baloo 2 ExtraBold'), url('./dist/assets/fonts/Baloo2-ExtraBold.woff') format('woff');
    }

@tailwind components;
@tailwind utilities;
